[Desktop Entry]
Type=Application
Exec=bash -c "source ~/Documents/Boot/start.sh" 
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enable=true
Name[en_US]=MyScript
Name=MyScript
Comment[en_US]=Run myscript at startup
Comment=Run myscript at startup
